In [3]:
!pip install liac-arff

Requirement already satisfied: liac-arff in c:\users\shivani\anaconda3\lib\site-packages (2.5.0)

In [4]:
import os
import arff
import pandas as pd

root_path = r"C:\Users\Shivani\OneDrive\Documents\B.Tech\IMU-Gait-Fall-Detection\imu-gait-fall-detection\data\raw\WISDM_ar_v1.1\arff_files"

all_data = []

for root, dirs, files in os.walk(root_path):
    for file in files:
        if file.endswith(".arff"):
            file_path = os.path.join(root, file)
            with open(file_path, 'r') as f:
                data = arff.load(f)

            df = pd.DataFrame(data['data'], columns=[attr[0] for attr in data['attributes']])
            all_data.append(df)

# Combine everything
combined_df = pd.concat(all_data, ignore_index=True)

print("Total Rows:", combined_df.shape[0])
print("Total Columns:", combined_df.shape[1])

combined_df.head()

Total Rows: 75099
Total Columns: 93

,ACTIVITY,X0,X1,X2,X3,X4,X5,X6,X7,X8,...,ZMFCC11,ZMFCC12,XYCOS,XZCOS,YZCOS,XYCOR,XZCOR,YZCOR,RESULTANT,class
0,A,0.235,0.470,0.275,0.020,0.000,0.0,0.0,0.0,0.0,...,0.486106,0.479859,-0.550668,0.049864,0.121354,-0.251024,0.164468,-0.110722,10.05180,1600
1,A,0.275,0.440,0.270,0.015,0.000,0.0,0.0,0.0,0.0,...,0.479571,0.473409,-0.633171,0.072129,0.161492,-0.386416,0.215680,-0.034375,10.11710,1600
2,A,0.320,0.430,0.245,0.000,0.005,0.0,0.0,0.0,0.0,...,0.483005,0.476798,-0.659493,0.087043,0.162157,-0.325151,0.272380,-0.077274,9.98384,1600
3,A,0.315,0.495,0.185,0.005,0.000,0.0,0.0,0.0,0.0,...,0.480711,0.474534,-0.712081,0.003810,0.210015,-0.364285,0.203131,0.015328,10.10600,1600
4,A,0.215,0.455,0.325,0.005,0.000,0.0,0.0,0.0,0.0,...,0.468836,0.462811,-0.534933,0.047553,0.275833,-0.216423,0.238500,-0.009870,10.05210,1600

In [5]:
save_path = r"C:\Users\Shivani\OneDrive\Documents\B.Tech\IMU-Gait-Fall-Detection\imu-gait-fall-detection\data\processed\WISDM_combined.csv"

combined_df.to_csv(save_path, index=False)

print("Saved to:", save_path)

Saved to: C:\Users\Shivani\OneDrive\Documents\B.Tech\IMU-Gait-Fall-Detection\imu-gait-fall-detection\data\processed\WISDM_combined.csv

In [6]:
combined_df.isna().sum()

ACTIVITY     0
X0           0
X1           0
X2           0
X3           0
            ..
XYCOR        0
XZCOR        0
YZCOR        0
RESULTANT    0
class        0
Length: 93, dtype: int64

In [8]:
combined_df = combined_df.dropna()

In [9]:
print("Rows after dropping NA:", combined_df.shape[0])
print("Columns:", combined_df.shape[1])

Rows after dropping NA: 75099
Columns: 93

In [10]:
combined_df['ACTIVITY'].value_counts()

ACTIVITY
M    4365
P    4351
O    4293
K    4284
E    4232
D    4214
S    4183
Q    4175
B    4175
R    4174
G    4160
H    4137
A    4133
I    4116
L    4086
J    4027
F    4006
C    3988
Name: count, dtype: int64